[mysqld]
user=mysql
character-set-server=utf8
default_authentication_plugin=mysql_native_password
lower_case_table_names=1
secure_file_priv=/var/lib/mysql
table_definition_cache=400

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8
